---
layout: layouts/base.njk
forceMode: gallery
---
<article class="proj proj--art">
  <div class="container proj__inner">
    {% set tagBase = "/gallery/" %}
    {% include "partials/work-body.njk" %}

    {% set navItems = collections.art %}
    {% include "partials/work-nav.njk" %}
  </div>
</article>
